{% load static %}

<div class="full-width-header header-style3 home11-modify2">
    <!--Header Start-->
    <header id="rs-header" class="rs-header">
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="logo-part hidden-md">
                <a class="light-logo" href="{% url 'index' %}">
                    <img src="{% static 'images/logo.jpg' %}" alt="">
                </a>
                <a class="small-logo" href="{% url 'index' %}">
                    <img src="{% static 'images/logo1.png' %}" alt="" style="height: 120px !important;">
                </a>
            </div>
            <div class="container">
                <div class="responsive-logo">
                    <img src="{% static 'images/logo.jpg' %}" alt="">
                </div>
                <div class="logo-cat-wrap">
                    <div class="categories-btn">
                        <button type="button" class="cat-btn"><i class="fa fa-th"></i>Categories</button>
                        <div class="cat-menu-inner">
                            <ul id="cat-menu">
                                <li><a href="">Category 1</a></li>
                                <li><a href="">Category 2</a></li>
                                <li><a href="">Category 3</a></li>
                                <li><a href="">Category 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rs-menu-area">
                    <div class="main-menu">
                        <div class="mobile-menu">
                            <a class="rs-menu-toggle">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <nav class="rs-menu">
                            <ul class="nav-menu">
                                <li class="rs-mega-menu mega-rs menu-item-has-children {% if tag == 'index' %} current-menu-item {% endif %}">
                                    <a href="{% url 'index' %}">Главная</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'about' %}">О нас</a>
                                </li>

                                <li class="menu-item-has-children">
                                    <a>Тесты</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'test-list' %}">Grammar</a></li>
                                        <li><a href="{% url 'listening-list' %}">Listening</a></li>
                                    </ul>
                                </li>

                                {#                                <li class="menu-item-has-children">#}
                                {#                                    <a href="#">Pages</a>#}
                                {#                                    <ul class="sub-menu">#}
                                {#                                        <li class="menu-item-has-children right">#}
                                {#                                            <a href="#">Team</a>#}
                                {#                                            <ul class="sub-menu right">#}
                                {#                                                <li><a href="team.html">Team One</a></li>#}
                                {#                                                <li><a href="team2.html">Team Two</a></li>#}
                                {#                                                <li><a href="team-single.html">Team Single</a></li>#}
                                {#                                            </ul>#}
                                {#                                        </li>#}
                                {#                                        <li class="menu-item-has-children">#}
                                {#                                            <a href="#">Event</a>#}
                                {#                                            <ul class="sub-menu right">#}
                                {#                                                <li><a href="events-style1.html">Event One</a></li>#}
                                {#                                                <li><a href="events-style2.html">Event Two</a></li>#}
                                {#                                                <li><a href="events-style3.html">Event Three</a></li>#}
                                {#                                            </ul>#}
                                {#                                        </li>#}
                                {#                                        <li class="menu-item-has-children">#}
                                {#                                            <a href="#">Gallery</a>#}
                                {#                                            <ul class="sub-menu right">#}
                                {#                                                <li><a href="gallery-style1.html">Gallery One</a></li>#}
                                {#                                                <li><a href="gallery-style2.html">Gallery Two</a></li>#}
                                {#                                                <li><a href="gallery-style3.html">Gallery Three</a></li>#}
                                {#                                            </ul>#}
                                {#                                        </li>#}
                                {#                                        <li class="menu-item-has-children">#}
                                {#                                            <a href="#">Shop</a>#}
                                {#                                            <ul class="sub-menu right">#}
                                {#                                                <li><a href="shop.html">Shop</a></li>#}
                                {#                                                <li><a href="shop-single.html">Shop Single</a></li>#}
                                {#                                                <li><a href="cart.html">Cart</a></li>#}
                                {#                                                <li><a href="checkout.html">Checkout</a></li>#}
                                {#                                            </ul>#}
                                {#                                        </li>#}
                                {#                                        <li class="menu-item-has-children">#}
                                {#                                            <a href="#">Others</a>#}
                                {#                                            <ul class="sub-menu right">#}
                                {#                                                <li><a href="faq.html">FAQ</a></li>#}
                                {#                                                <li><a href="error.html">404 Page</a></li>#}
                                {#                                                <li><a href="login.html">Login</a></li>#}
                                {#                                                <li><a href="register.html">Register</a></li>#}
                                {#                                            </ul>#}
                                {#                                        </li>#}
                                {#                                    </ul>#}
                                {#                                </li>#}

                                {#                                <li class="menu-item-has-children">#}
                                {#                                    <a href="#">Blog</a>#}
                                {#                                    <ul class="sub-menu">#}
                                {#                                        <li><a href="blog.html">Blog</a></li>#}
                                {#                                        <li class="menu-item-has-children">#}
                                {#                                            <a href="#">Blog Sidebar</a>#}
                                {#                                            <ul class="sub-menu right">#}
                                {#                                                <li><a href="blog-left.html">Blog Left Sidebar</a></li>#}
                                {#                                                <li><a href="blog-right.html">Blog Right Sidebar</a></li>#}
                                {#                                            </ul>#}
                                {#                                        </li>#}
                                {#                                        <li class="menu-item-has-children">#}
                                {#                                            <a href="#">Single Post</a>#}
                                {#                                            <ul class="sub-menu right">#}
                                {#                                                <li><a href="blog-post-left.html">Post Left Sidebar</a></li>#}
                                {#                                                <li><a href="blog-post-right.html">Post Right Sidebar</a></li>#}
                                {#                                                <li><a href="blog-single.html">Full Width Post</a></li>#}
                                {#                                            </ul>#}
                                {#                                        </li>#}
                                {#                                    </ul>#}
                                {#                                </li>#}

                                <li class="menu-item-has-children">
                                    <a href="{% url 'contact' %}">Контакты</a>
                                </li>
                            </ul> <!-- //.nav-menu -->
                        </nav>
                    </div> <!-- //.main-menu -->
                    <div class="expand-btn-inner">
                        <ul>
                            <li>
                                <a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal" href="#">
                                    <i class="flaticon-search"></i>
                                </a>
                            </li>
                            |
                            &nbsp;
                            <li class="login-register">
                                {% if not user.is_authenticated %}
                                    <i class="fa fa-sign-in"></i>
                                    <a href="{% url 'login' %}">Login</a>/<a href="{% url 'signup' %}">Register</a>
                                {% else %}
                                    <i class="fa fa-sign-out"></i>
                                    <a href="{% url 'logout' %}">Logout</a>
                                {% endif %}
                            </li>
                        </ul>
{#                        <span>#}
{#                            <a id="nav-expander" class="nav-expander style5">#}
{#                                    <span class="bar">#}
{#                                        <span class="dot1"></span>#}
{#                                        <span class="dot2"></span>#}
{#                                        <span class="dot3"></span>#}
{#                                    </span>#}
{#                                </a>#}
{#                        </span>#}
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->

        <!-- Canvas Menu start -->
        <nav class="right_menu_togle hidden-md">
            <div class="close-btn">
                <div id="nav-close">
                    <div class="line">
                        <span class="line1"></span><span class="line2"></span>
                    </div>
                </div>
            </div>
            <div class="canvas-logo">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.jpg' %}" style="width: 100%"
                                                 alt="logo"></a>
            </div>
            <div class="offcanvas-text">
                <p>We denounce with righteous indige nationality and dislike men who are so beguiled and demo by the
                    charms of pleasure of the moment data com so blinded by desire.</p>
            </div>
            <div class="offcanvas-gallery">
                <div class="gallery-img">
                    <a class="image-popup" href="{% static 'images/gallery/1.jpg' %}">
                        <img src="{% static 'images/gallery/1.jpg' %}" alt="">
                    </a>
                </div>
                <div class="gallery-img">
                    <a class="image-popup" href="{% static 'images/gallery/2.jpg' %}">
                        <img src="{% static 'images/gallery/2.jpg' %}" alt="">
                    </a>
                </div>
                <div class="gallery-img">
                    <a class="image-popup" href="{% static 'images/gallery/3.jpg' %}">
                        <img src="{% static 'images/gallery/3.jpg' %}" alt="">
                    </a>
                </div>
                <div class="gallery-img">
                    <a class="image-popup" href="{% static 'images/gallery/4.jpg' %}">
                        <img src="{% static 'images/gallery/4.jpg' %}" alt="">
                    </a>
                </div>
                <div class="gallery-img">
                    <a class="image-popup" href="{% static 'images/gallery/5.jpg' %}">
                        <img src="{% static 'images/gallery/5.jpg' %}" alt="">
                    </a>
                </div>
                <div class="gallery-img">
                    <a class="image-popup" href="{% static 'images/gallery/6.jpg' %}">
                        <img src="{% static 'images/gallery/6.jpg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="map-img">
                <img src="{% static 'images/map.jpg' %}" alt="">
            </div>
            <div class="canvas-contact">
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- Canvas Menu end -->
    </header>
    <!--Header End-->
</div>
