{% load static %}

<div class="rs-newsletter style1 orange-color mb--90 sm-mb-0 sm-pb-70">
    <div class="container">
        <div class="newsletter-wrap">
            <div class="row y-middle">
                <div class="col-lg-6 col-md-12 md-mb-30">
                    <div class="content-part">
                        <div class="sec-title">
                            <div class="title-icon md-mb-15">
                                <img src="{% static 'images/newsletter.png' %}" alt="images">
                            </div>
                            <h2 class="title mb-0 white-color">Subscribe to Newsletter</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <form class="newsletter-form">
                        <input type="email" name="email" placeholder="Enter Your Email" required="">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>