{% load static %}

<footer id="rs-footer" class="rs-footer home9-style main-home">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                    <div class="footer-logo mb-30">
                        <a href="index.html"><img src="{% static 'images/lite-logo.png' %}" alt=""></a>
                    </div>
                    <div class="textwidget white-color pr-60 md-pr-15"><p>We denounce with righteous indi gnation and
                        dislike men who are so beguiled and demoralized by the charms of pleasure of your moment, so
                        blinded by desire those who fail weakness.</p>
                    </div>
                    <ul class="footer_social">
                        <li>
                            <a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a>
                        </li>
                        <li>
                            <a href="# " target="_blank"><span><i class="fa fa-twitter"></i></span></a>
                        </li>

                        <li>
                            <a href="# " target="_blank"><span><i class="fa fa-pinterest-p"></i></span></a>
                        </li>
                        <li>
                            <a href="# " target="_blank"><span><i class="fa fa-google-plus-square"></i></span></a>
                        </li>
                        <li>
                            <a href="# " target="_blank"><span><i class="fa fa-instagram"></i></span></a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                    <h3 class="widget-title">Address</h3>
                    <ul class="address-widget">
                        <li>
                            <i class="flaticon-location"></i>
                            <div class="desc">374 William S Canning Blvd, River MA 2721, USA</div>
                        </li>
                        <li>
                            <i class="flaticon-call"></i>
                            <div class="desc">
                                <a href="tel:(+880)155-69569">(+880)155-69569</a>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <div class="desc">
                                <a href="mailto:support@rstheme.com">support@rstheme.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 pl-50 md-pl-15 footer-widget md-mb-50">
                    <h3 class="widget-title">Courses</h3>
                    <ul class="site-map">
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Course Two</a></li>
                        <li><a href="#">Single Course</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Login/Register</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                    <h3 class="widget-title">Recent Posts</h3>
                    <div class="recent-post mb-20">
                        <div class="post-img">
                            <img src="{% static 'images/footer/1.jpg' %}" alt="">
                        </div>
                        <div class="post-item">
                            <div class="post-desc">
                                <a href="#">University while the lovely valley team work</a>
                            </div>
                            <span class="post-date">
                                        <i class="fa fa-calendar"></i>
                                        September 20, 2020
                                    </span>
                        </div>
                    </div>
                    <div class="recent-post mb-20 md-pb-0">
                        <div class="post-img">
                            <img src="{% static 'images/footer/2.jpg' %}" alt="">
                        </div>
                        <div class="post-item">
                            <div class="post-desc">
                                <a href="#">High school program starting soon 2021</a>
                            </div>
                            <span class="post-date">
                                       <i class="fa fa-calendar-check-o"></i>
                                        September 14, 2020
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6 md-mb-20">
                    <div class="copyright">
                        <p>&copy; 2020 All Rights Reserved. Developed By <a href="http://rstheme.com/">RSTheme</a></p>
                    </div>
                </div>
                <div class="col-lg-6 text-right md-text-left">
                    <ul class="copy-right-menu">
                        <li><a href="#">Event</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
