{% extends 'base-defult.html' %}

{% load static %}

{% block breadcrumbs %}
    О нас
{% endblock %}

{% block path %}
    <li style="color: #ff5421 !important;">О нас</li>
{% endblock %}

{% block main-content %}
    <div id="rs-about" class="rs-about style3 pt-100 md-pt-70">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-4 lg-pr-0 md-mb-30">
                    <div class="about-intro">
                        <div class="sec-title">
                            <div class="sub-title orange">О нас</div>
                            <h2 class="title mb-21">Конечный результат истинного обучения</h2>
                            <div class="desc big">Онлайн-платформа для самостоятельного
                                изучения английского языка. Развивает практику понимания на слух, чтения, письма и
                                устной речи.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 pl-83 md-pl-15">
                    <div class="row rs-counter couter-area">
                        <div class="col-md-4 sm-mb-30">
                            <div class="counter-item one">
                                <img class="count-img" src="{% static 'images/about/style3/icons/1.png' %}" alt="">
                                <h2 class="number rs-count kplus">2</h2>
                                <h4 class="title mb-0">Students</h4>
                            </div>
                        </div>
                        <div class="col-md-4 sm-mb-30">
                            <div class="counter-item two">
                                <img class="count-img" src="{% static 'images/about/style3/icons/2.png' %}" alt="">
                                <h2 class="number rs-count">3.50</h2>
                                <h4 class="title mb-0">Average CGPA</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="counter-item three">
                                <img class="count-img" src="{% static 'images/about/style3/icons/3.png' %}" alt="">
                                <h2 class="number rs-count percent">95</h2>
                                <h4 class="title mb-0">Graduates</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Section End -->

    <!-- About Section Start -->
    <div id="rs-about-video" class="rs-about-video pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="video-img-part media-icon orange-color2">
                <img src="https://kursoviks.com.ua/d/lingvisticheskiye-ponyatiya.jpg" alt="Video Bg Image">
                <a class="popup-videos" href="https://www.youtube.com/watch?v=gaqYzeHU8sI">
                    <i class="fa fa-play"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Team Section Start -->
    <div id="rs-team" class="rs-team style1 inner-style orange-color pt-94 pb-100 md-pt-64 md-pb-70 gray-bg">
        <div class="container">
            <div class="sec-title mb-50 md-mb-30 text-center">
                <div class="sub-title orange">Instructor</div>
                <h2 class="title mb-0">Expert Teachers</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-item">
{#                        <img src="{% static 'images/team/1.jpg' %}" alt="">#}
                        <img src="https://yt3.ggpht.com/ytc/AAUvwnjE5MO4qiUze0YxCB_HbRnzzaMiD8YOZ-I-6dJy=s900-c-k-c0x00ffffff-no-rj" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-item">
{#                        <img src="{% static 'images/team/1.jpg' %}" alt="">#}
                        <img src="https://yt3.ggpht.com/ytc/AAUvwnjE5MO4qiUze0YxCB_HbRnzzaMiD8YOZ-I-6dJy=s900-c-k-c0x00ffffff-no-rj" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-item">
{#                        <img src="{% static 'images/team/1.jpg' %}" alt="">#}
                        <img src="https://yt3.ggpht.com/ytc/AAUvwnjE5MO4qiUze0YxCB_HbRnzzaMiD8YOZ-I-6dJy=s900-c-k-c0x00ffffff-no-rj" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-item">
{#                        <img src="{% static 'images/team/1.jpg' %}" alt="">#}
                        <img src="https://yt3.ggpht.com/ytc/AAUvwnjE5MO4qiUze0YxCB_HbRnzzaMiD8YOZ-I-6dJy=s900-c-k-c0x00ffffff-no-rj" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-item">
{#                        <img src="{% static 'images/team/1.jpg' %}" alt="">#}
                        <img src="https://yt3.ggpht.com/ytc/AAUvwnjE5MO4qiUze0YxCB_HbRnzzaMiD8YOZ-I-6dJy=s900-c-k-c0x00ffffff-no-rj" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-item">
{#                        <img src="{% static 'images/team/1.jpg' %}" alt="">#}
                        <img src="https://yt3.ggpht.com/ytc/AAUvwnjE5MO4qiUze0YxCB_HbRnzzaMiD8YOZ-I-6dJy=s900-c-k-c0x00ffffff-no-rj" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Team Section End -->

    <!-- Testimonial Section Start -->
    <div class="rs-testimonial style3 orange-color pt-90 md-pt-70">
        <div class="container">
            <div class="sec-title mb-60 md-mb-30 text-center">
                <div class="sub-title orange">Student Reviews</div>
                <h2 class="title mb-0">What Our Students Says</h2>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="2" data-margin="30"
                 data-autoplay="true"
                 data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true"
                 data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1"
                 data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2"
                 data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2"
                 data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="2"
                 data-md-device-nav="false" data-md-device-dots="true">
                <div class="testi-item">
                    <div class="row y-middle no-gutter">
                        <div class="col-md-4">
                            <div class="user-info">
                                <img src="https://cdn.kwork.ru/files/avatar/large/42/2744389-3.jpg" alt="">
                                <h4 class="name">Saiko Najran</h4>
                                <span class="designation">Student</span>
                                <ul class="ratings">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="desc">The charms of pleasure of the moment so blinded by desire that they
                                cannot
                                foresee the pain and trouble that are bound ensue and equal blame belongs to those
                                who
                                fail in their duty.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi-item">
                    <div class="row y-middle no-gutter">
                        <div class="col-md-4">
                            <div class="user-info">
                                <img src="https://cdn.kwork.ru/files/avatar/large/42/2744389-3.jpg" alt="">
                                <h4 class="name">Saiko Najran</h4>
                                <span class="designation">Student</span>
                                <ul class="ratings">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="desc">The charms of pleasure of the moment so blinded by desire that they
                                cannot
                                foresee the pain and trouble that are bound ensue and equal blame belongs to those
                                who
                                fail in their duty.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi-item">
                    <div class="row y-middle no-gutter">
                        <div class="col-md-4">
                            <div class="user-info">
                                <img src="https://cdn.kwork.ru/files/avatar/large/42/2744389-3.jpg" alt="">
                                <h4 class="name">Saiko Najran</h4>
                                <span class="designation">Student</span>
                                <ul class="ratings">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="desc">The charms of pleasure of the moment so blinded by desire that they
                                cannot
                                foresee the pain and trouble that are bound ensue and equal blame belongs to those
                                who
                                fail in their duty.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi-item">
                    <div class="row y-middle no-gutter">
                        <div class="col-md-4">
                            <div class="user-info">
                                <img src="https://cdn.kwork.ru/files/avatar/large/42/2744389-3.jpg" alt="">
                                <h4 class="name">Saiko Najran</h4>
                                <span class="designation">Student</span>
                                <ul class="ratings">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="desc">The charms of pleasure of the moment so blinded by desire that they
                                cannot
                                foresee the pain and trouble that are bound ensue and equal blame belongs to those
                                who
                                fail in their duty.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi-item">
                    <div class="row y-middle no-gutter">
                        <div class="col-md-4">
                            <div class="user-info">
                                <img src="https://cdn.kwork.ru/files/avatar/large/42/2744389-3.jpg" alt="">
                                <h4 class="name">Saiko Najran</h4>
                                <span class="designation">Student</span>
                                <ul class="ratings">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="desc">The charms of pleasure of the moment so blinded by desire that they
                                cannot
                                foresee the pain and trouble that are bound ensue and equal blame belongs to those
                                who
                                fail in their duty.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi-item">
                    <div class="row y-middle no-gutter">
                        <div class="col-md-4">
                            <div class="user-info">
                                <img src="https://cdn.kwork.ru/files/avatar/large/42/2744389-3.jpg" alt="">
                                <h4 class="name">Saiko Najran</h4>
                                <span class="designation">Student</span>
                                <ul class="ratings">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="desc">The charms of pleasure of the moment so blinded by desire that they
                                cannot
                                foresee the pain and trouble that are bound ensue and equal blame belongs to those
                                who
                                fail in their duty.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi-item">
                    <div class="row y-middle no-gutter">
                        <div class="col-md-4">
                            <div class="user-info">
                                <img src="https://cdn.kwork.ru/files/avatar/large/42/2744389-3.jpg" alt="">
                                <h4 class="name">Saiko Najran</h4>
                                <span class="designation">Student</span>
                                <ul class="ratings">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="desc">The charms of pleasure of the moment so blinded by desire that they
                                cannot
                                foresee the pain and trouble that are bound ensue and equal blame belongs to those
                                who
                                fail in their duty.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi-item">
                    <div class="row y-middle no-gutter">
                        <div class="col-md-4">
                            <div class="user-info">
                                <img src="https://cdn.kwork.ru/files/avatar/large/42/2744389-3.jpg" alt="">
                                <h4 class="name">Saiko Najran</h4>
                                <span class="designation">Student</span>
                                <ul class="ratings">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="desc">The charms of pleasure of the moment so blinded by desire that they
                                cannot
                                foresee the pain and trouble that are bound ensue and equal blame belongs to those
                                who
                                fail in their duty.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Testimonial Section End -->

    <!-- Blog Section Start -->
    <div id="rs-blog" class="rs-blog orange-color style1 modify1 pt-85 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="sec-title mb-60 md-mb-30 text-center">
                <div class="sub-title orange">News Update</div>
                <h2 class="title mb-0">Latest News & Events</h2>
            </div>
            <div class="row">
                <div class="col-lg-7 pr-60 md-pr-15 md-mb-30">
                    <div class="row no-gutter white-bg blog-item mb-35">
                        <div class="col-md-6">
                            <div class="image-part">
{#                                <a href="#"><img src="{% static 'images/blog/style3/1.jpg' %}" alt=""></a>#}
                                <a href="#"><img src="http://s1.1zoom.me/prev/531/English_Little_girls_Boys_Glasses_Smile_Book_530819_300x200.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user-o"></i> Admin</li>
                                    <li><i class="fa fa-calendar"></i>June 15, 2019</li>
                                </ul>
                                <h3 class="title"><a href="blog-single.html">Modern School The Lovely Valley Team
                                    Work</a></h3>
                                <div class="btn-part">
                                    <a class="readon-arrow" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutter white-bg blog-item">
                        <div class="col-md-6 order-last">
                            <div class="image-part">
{#                                <a href="#"><img src="{% static 'images/blog/style3/2.jpg' %}" alt=""></a>#}
                                <a href="#"><img src="http://s1.1zoom.me/prev/531/English_Little_girls_Boys_Glasses_Smile_Book_530819_300x200.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user-o"></i> Admin</li>
                                    <li><i class="fa fa-calendar"></i>June 15, 2019</li>
                                </ul>
                                <h3 class="title"><a href="blog-single.html">High School Program Starting Soon
                                    2021</a>
                                </h3>
                                <div class="btn-part">
                                    <a class="readon-arrow" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 lg-pl-0">
                    <div class="events-short mb-28">
                        <div class="date-part bgc1">
                            <span class="month">June</span>
                            <div class="date">20</div>
                        </div>
                        <div class="content-part">
                            <div class="categorie">
                                <a href="#">Math</a> & <a href="#">English</a>
                            </div>
                            <h4 class="title mb-0"><a href="blog-single.html">Educational Technology and Mobile
                                Accessories Learning</a></h4>
                        </div>
                    </div>
                    <div class="events-short mb-28">
                        <div class="date-part bgc2">
                            <span class="month">June</span>
                            <div class="date">21</div>
                        </div>
                        <div class="content-part">
                            <div class="categorie">
                                <a href="#">Math</a> & <a href="#">English</a>
                            </div>
                            <h4 class="title mb-0"><a href="blog-single.html">Educational Technology and Mobile
                                Accessories Learning</a></h4>
                        </div>
                    </div>
                    <div class="events-short mb-28">
                        <div class="date-part bgc3">
                            <span class="month">June</span>
                            <div class="date">22</div>
                        </div>
                        <div class="content-part">
                            <div class="categorie">
                                <a href="#">Math</a> & <a href="#">English</a>
                            </div>
                            <h4 class="title mb-0"><a href="blog-single.html">Educational Technology and Mobile
                                Accessories Learning</a></h4>
                        </div>
                    </div>
                    <div class="events-short">
                        <div class="date-part bgc4">
                            <span class="month">June</span>
                            <div class="date">23</div>
                        </div>
                        <div class="content-part">
                            <div class="categorie">
                                <a href="#">Math</a> & <a href="#">English</a>
                            </div>
                            <h4 class="title mb-0"><a href="blog-single.html">Educational Technology and Mobile
                                Accessories Learning</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
