{% extends 'base-defult.html' %}

{% load static %}

{% block breadcrumbs %}
    Контакты
{% endblock %}

{% block path %}
    <li style="color: #ff5421 !important;">Контакты</li>
{% endblock %}

{% block main-content %}
    <div class="contact-page-section pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row rs-contact-box mb-90 md-mb-50">
                <div class="col-lg-4 col-md-12-4 lg-pl-0 sm-mb-30 md-mb-30">
                    <div class="address-item">
                        <div class="icon-part">
                            <img src="{% static 'images/contact/icon/1.png' %}" alt="">
                        </div>
                        <div class="address-text">
                            <span class="label">Address</span>
                            <span class="des">Tashkent</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 lg-pl-0 sm-mb-30 md-mb-30">
                    <div class="address-item">
                        <div class="icon-part">
                            <img src="{% static 'images/contact/icon/2.png' %}" alt="">
                        </div>
                        <div class="address-text">
                            <span class="label">Email Address</span>
                            <span class="des"><a href="mailto:info@rstheme.com">info@rstheme.com</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 lg-pl-0 sm-mb-30">
                    <div class="address-item">
                        <div class="icon-part">
                            <img src="{% static 'images/contact/icon/3.png' %}" alt="">
                        </div>
                        <div class="address-text">
                            <span class="label">Phone Number</span>
                            <span class="des"><a href="tel+0885898745">+99890-031-11-99</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 md-mb-30">
                    <!-- Map Section Start -->
                    <div class="contact-map3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11981.789294661081!2d69.28991981685795!3d41.34262990477811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b5347477663%3A0xe090ea655e488bb2!2zNDHCsDIwJzI2LjgiTiA2OcKwMTcnMTIuMSJF!5e0!3m2!1sru!2s!4v1622047374325!5m2!1sru!2s"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 pl-60 md-pl-15">
                    <div class="contact-comment-box">
                        <div class="inner-part">
                            <h2 class="title mb-mb-15">Get In Touch</h2>
                            <p>Have some suggestions or just want to say hi? Our support team are ready to help you
                                24/7.</p>
                        </div>
                        <div id="form-messages"></div>
                        <form id="contact-form" method="post" action="mailer.php">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="name" name="name"
                                               placeholder="Name"
                                               required="">
                                    </div>
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="email" name="email"
                                               placeholder="Email" required="">
                                    </div>
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="phone" name="phone"
                                               placeholder="Phone" required="">
                                    </div>
                                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="subject" name="subject"
                                               placeholder="Subject" required="">
                                    </div>

                                    <div class="col-lg-12 mb-50">
                                        <textarea class="from-control" id="message" name="message"
                                                  placeholder=" Message" required=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <input class="btn-send" type="submit" value="Submit Now">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
