{% extends 'base-defult.html' %}

{% load static %}

{% block breadcrumbs %}
    Events
{% endblock %}

{% block path %}
    <li style="color: #ff5421 !important;">Events</li>
{% endblock %}

{% block main-content %}
    <div class="rs-event modify1 orange-color pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-30 col-md-6">
                    <div class="event-item">
                        <div class="event-short">
                            <div class="featured-img">
                                <img src="{% static 'images/event/1.jpg' %}" alt="Image">
                                <div class="dates">
                                    July 24, 2020
                                </div>
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Spicy Quince And Cranberry Chutney</a></h4>
                                <div class="time-sec">
                                    <div class="timesec"><i class="fa fa-clock-o"></i> 11:00 AM -
                                        03:00 AM
                                    </div>
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-30 col-md-6">
                    <div class="event-item">
                        <div class="event-short">
                            <div class="featured-img">
                                <img src="{% static 'images/event/2.jpg' %}" alt="Image">
                                <div class="dates">
                                    July 24, 2020
                                </div>
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Persim, Pomegran, And Massag Kale Salad</a></h4>
                                <div class="time-sec">
                                    <div class="timesec"><i class="fa fa-clock-o"></i> 11:00 AM -
                                        03:00 AM
                                    </div>
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-30 col-md-6">
                    <div class="event-item">
                        <div class="event-short">
                            <div class="featured-img">
                                <img src="{% static 'images/event/3.jpg' %}" alt="Image">
                                <div class="dates">
                                    July 24, 2020
                                </div>
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Essential Fall Fruits That Aren’t Apples</a></h4>
                                <div class="time-sec">
                                    <div class="timesec"><i class="fa fa-clock-o"></i> 11:00 AM -
                                        03:00 AM
                                    </div>
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-30 col-md-6">
                    <div class="event-item">
                        <div class="event-short">
                            <div class="featured-img">
                                <img src="{% static 'images/event/4.jpg' %}" alt="Image">
                                <div class="dates">
                                    July 24, 2020
                                </div>
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Job Seekers From Overcoming Failure</a></h4>
                                <div class="time-sec">
                                    <div class="timesec"><i class="fa fa-clock-o"></i> 11:00 AM -
                                        03:00 AM
                                    </div>
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-30 col-md-6">
                    <div class="event-item">
                        <div class="event-short">
                            <div class="featured-img">
                                <img src="{% static 'images/event/5.jpg' %}" alt="Image">
                                <div class="dates">
                                    July 24, 2020
                                </div>
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Best Technology Graduation Ceremony.</a></h4>
                                <div class="time-sec">
                                    <div class="timesec"><i class="fa fa-clock-o"></i> 11:00 AM -
                                        03:00 AM
                                    </div>
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-30 col-md-6">
                    <div class="event-item">
                        <div class="event-short">
                            <div class="featured-img">
                                <img src="{% static 'images/event/6.jpg' %}" alt="Image">
                                <div class="dates">
                                    July 24, 2020
                                </div>
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                                <div class="time-sec">
                                    <div class="timesec"><i class="fa fa-clock-o"></i> 11:00 AM -
                                        03:00 AM
                                    </div>
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 md-mb-30">
                    <div class="event-item">
                        <div class="event-short">
                            <div class="featured-img">
                                <img src="{% static 'images/event/7.jpg' %}" alt="Image">
                                <div class="dates">
                                    July 24, 2020
                                </div>
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Job Seekers From Overcoming Failure</a></h4>
                                <div class="time-sec">
                                    <div class="timesec"><i class="fa fa-clock-o"></i> 11:00 AM -
                                        03:00 AM
                                    </div>
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 sm-mb-30">
                    <div class="event-item">
                        <div class="event-short">
                            <div class="featured-img">
                                <img src="{% static 'images/event/8.jpg' %}" alt="Image">
                                <div class="dates">
                                    July 24, 2020
                                </div>
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Educavo Learning Gala Day For Kids</a></h4>
                                <div class="time-sec">
                                    <div class="timesec"><i class="fa fa-clock-o"></i> 11:00 AM -
                                        03:00 AM
                                    </div>
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="event-item">
                        <div class="event-short">
                            <div class="featured-img">
                                <img src="{% static 'images/event/9.jpg' %}" alt="Image">
                                <div class="dates">
                                    July 24, 2020
                                </div>
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Best Technology Graduation Ceremony.</a></h4>
                                <div class="time-sec">
                                    <div class="timesec"><i class="fa fa-clock-o"></i> 11:00 AM -
                                        03:00 AM
                                    </div>
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}