{% extends 'base-defult.html' %}

{% load static %}

{% block breadcrumbs %}
    Our Team
{% endblock %}

{% block path %}
    <li style="color: #ff5421 !important;">Our Team</li>
{% endblock %}

{% block main-content %}
    <div id="rs-team" class="rs-team style1 inner-style orange-color pt-94 pb-100 md-pt-64 md-pb-70 gray-bg">
        <div class="container">
            <div class="sec-title mb-50 md-mb-30 text-center">
                <div class="sub-title orange">Instructor</div>
                <h2 class="title mb-0">Expert Teachers</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-item">
                        <img src="{% static 'images/team/icon/1.png' %}" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-item">
                        <img src="{% static 'images/team/icon/2.png' %}" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <div class="team-item">
                        <img src="{% static 'images/team/icon/3.png' %}" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 md-mb-30">
                    <div class="team-item">
                        <img src="{% static 'images/team/icon/4.png' %}" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 xs-mb-30">
                    <div class="team-item">
                        <img src="{% static 'images/team/icon/5.png' %}" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="team-item">
                        <img src="{% static 'images/team/icon/6.png' %}" alt="">
                        <div class="content-part">
                            <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
                            <span class="designation">Professor</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
